/* Base Styles */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

/* Reset base styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Container Layout using Grid */
.container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

/* Iframe Styles */
.iframe-wrapper {
  width: 100%;
  height: 100%;
}

.flourish-embed-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Footer Styles */
.custom-footer {
  background: #222429;
  color: white;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.custom-footer a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.custom-footer a svg {
  fill: currentColor; /* Inherits color from the parent <a> */
  width: 1em;
  height: 1em;
}

/* Responsive Font Sizes */
@media (min-width: 380px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 580px) {
  html {
    font-size: 87.5%;
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 120%;
  }
}

/* Flourish Footer Overrides */
.flourish-footer {
  margin: 0;
}

.flourish-footer p {
  margin: 0;
  display: inline;
}

.flourish-footer p:empty {
  height: 0;
}

.flourish-footer a {
  color: inherit;
  z-index: 999;
}

/* UI Controls */
.fl-ui-styles-controls .fl-control.hidden {
  display: none;
}

.fl-ui-styles-controls .fl-control {
  vertical-align: middle;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
}

.fl-ui-styles-controls .fl-controls-title {
  font-size: 1rem;
  font-weight: bold;
  vertical-align: middle;
}

.fl-ui-styles-controls .fl-control .button {
  height: 2rem;
  padding: 0 0.5em;
}

.fl-ui-styles-controls .fl-control-dropdown select {
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0.2rem;
}

.fl-ui-styles-controls .fl-control-slider .slider-end-labels {
  font-size: 1rem;
  font-weight: bold;
}

.fl-ui-styles-controls .fl-control-slider {
  height: 2rem;
}

/* UI Button Styles */
.fl-ui-styles-button .fl-control-buttons.fl-control.hidden {
  display: none;
}

.fl-ui-styles-button .fl-control-buttons.fl-control .button {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 2px 0 0 !important;
  background-color: #222429;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
}

.fl-ui-styles-button .fl-control-buttons.fl-control .button:hover {
  background-color: #222429;
  color: #ffffff;
}

.fl-ui-styles-button .fl-control-buttons.fl-control .button.selected {
  background-color: #f3f4f6;
  color: #000000;
}

.fl-ui-styles-button .fl-control-buttons.grouped.fl-control .button {
  border-right: none;
  border-radius: 0;
  margin: 0;
}

.fl-ui-styles-button
  .fl-control-buttons.grouped.fl-control
  .button:first-child {
  border-radius: 3px 0 0 3px;
}

.fl-ui-styles-button .fl-control-buttons.grouped.fl-control .button:last-child {
  border-radius: 0 3px 3px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.fl-ui-styles-button
  .fl-control-buttons.grouped.fl-control.fixed-width:not(.hidden) {
  width: 100%;
}

/* Legend Styles */
#legend-styles .fl-legend-container.interactive .fl-legend-item:hover {
  opacity: 0.75;
  cursor: pointer;
}
